@media print {
    #header a{
        display: none;
    }
    #header #mainlogo{
        display: initial;
        width: 100%;
        color: var(--charlotteace-blue);
        font-size: 3.6rem;
        font-weight: 600;
        padding: 1rem;
        border-bottom: 0.2rem solid var(--charlotteace-blue);
    }
    #header #mainlogo[href]:after {
        content: none;
    }

    h1, h2, h3, h4, h5, h6, img{
        break-after: avoid;
    }

    a[href]:after {
        content: " （" attr(href) "）";
    }
    abbr[title]:after {
        content: "（" attr(title) "）";
    }
    
    /* いずれ段組みに対応
    .wrapper{
        column-count: 2;
    }
    #ref-2[href]:after {
        content: none;
    }
    */
    .button {
        display: none;
    }
}