@media print {
    header, #header, .c-header {
        background-color: initial;
        position: initial;
    }
    #header a{
        display: none;
    }
    #header #mainlogo{
        display: initial;
        width: 100%;
        color: var(--charlotteace-theme);
        font-size: 3.6rem;
        font-weight: 600;
        padding: 1rem;
        border-bottom: 0.2rem solid var(--charlotteace-theme);
    }
    #header #mainlogo[href]:after {
        content: none;
    }
    #qrcode{
        display: initial;
        padding: 0.4rem;
        border: 0.2rem solid var(--charlotteace-theme);
        top: 20px;
        right: 20px;
        background-color: white;
    }
    #qrcode div{
        margin: 0.1rem;
    }

    h1, h2, h3, h4, h5, h6, img{
        break-after: avoid;
    }
    a:link, a:visited {
        color: var(--charlotteace-theme);
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    .ref:link, .ref:visited {
        color: var(--charlotteace-theme);
        text-decoration: none;
    }
    .ref[href]:before {
        content: "(";
    }
    .ref[href]:after {
        content: ")";
    }
    
    
    /* いずれ段組みに対応
    .wrapper{
        column-count: 2;
    }
    #ref-2[href]:after {
        content: none;
    }
    */
    .button {
        display: none;
    }
}