:root{
  --charlotteace-deep: #000420; /*C100M50Y30K90*/
  --charlotteace-dark: #182f60;
  --charlotteace-theme: #1C4D8C;
  --charlotteace-blue: #136eab;
  --charlotteace-water: #2990d0;
  --charlotteace-sky: #5bb2e1;
  --charlotteace-pale: #b0bfcd; /* C30M15Y10K10 */
  --dark-gray: #353542;
  --middle-gray: #515155;
  --light-gray: #a4a8ab;

  /*ライトモード時*/
  --main-font-color: black;
  --main-bg-color: color-mix(in srgb, var(--charlotteace-pale) 60%, transparent);
  --main-deep-color: black;
  --header-font-color: white;
  --header-bg-color: var(--charlotteace-theme);
  --header-border-color: var(--charlotteace-dark);
  --header-font-focus: var(--charlotteace-dark);
  --header-bg-focus: var(--charlotteace-sky);
  --link-font-color: var(--charlotteace-blue);
  --link-visited-color: var(--dark-gray);

  --linkcard-bg-color: color-mix(in srgb, var(--main-bg-color) 50%, transparent);
  --linkcard-border: var(--charlotteace-sky);
  --linkcard-border-active: var(--charlotteace-deep);    
  --codeblock-bg-color: color-mix(in srgb, var(--charlotteace-theme) 10%, var(--dark-gray));
}
@media (prefers-color-scheme: dark) {
  :root{
    --main-font-color: white;
    --main-bg-color: var(--charlotteace-deep);
    --main-deep-color: var(--charlotteace-deep);
    --header-font-color: white;
    --header-bg-color: var(--charlotteace-dark);
    --header-border-color: var(--charlotteace-theme);
    --link-font-color: var(--charlotteace-sky);
    --link-visited-color: var(--light-gray);

    --linkcard-bg-color: color-mix(in srgb, var(--charlotteace-theme) 20%, transparent);
    --linkcard-border: var(--charlotteace-theme);
    --linkcard-border-active: var(--link-theme-color);   
    --codeblock-bg-color: var(--linkcard-bg-color);
  }
}

/* for screen-reader */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

*{font-family:Noto Sans JP,sans-serif;margin:0;padding:0;outline:none;}
*:hover{transition: all 0.3s;}
html{font-size: 10px; height: 100%;}
body{color:var(--main-font-color);background-color:var(--main-bg-color); height: 100%; top: 0;}
header{padding: 1.6rem 0;color:white;background-color:var(--header-bg-color);}
h1{padding:0.6rem 0; font-weight: 600; margin: 5.6rem 0 0; }
h2{padding:0.6rem 0; font-weight: 600; margin: 4.8rem 0 0; }
h3,h4,h5,h6{padding:0.6rem 0; font-weight: 600; margin: 4rem 0 0; }
h1{font-size: 3.2rem;}
h2{font-size: 2.4rem;}
h3{font-size: 2.0rem;}

p, li, details, .footnotes {
  font-size: 1.6rem;
  line-height: 2.8rem;
  margin: 4rem 0 0;
  padding: 0.6rem 0;
}
li{
  margin: 0 0 0 2rem;
  padding:0;
}
li p{
  padding: 0;
}

ul li {list-style-type: disc;}
ol li {list-style-type: decimal;}
li ul li {list-style-type: circle;}
li ol li {list-style-type: lower-roman;}
li li ul li {list-style-type: square;}
li li ol li {list-style-type: lower-alpha;}

details{
  margin: 0;
  padding: 0.6rem 0;
}  
details summary{
  width : max-content;
  max-width: 100%;
  margin: 0 0 1.2rem 0;
  padding: 0 0.6rem 0 2.2rem;
  text-indent: -1.6rem;      
}
details summary:hover,details summary:focus{
  color: var(--main-bg-color);
  background-color: var(--link-font-color);
}

.footnotes {
  padding-top: 4rem;
  border-top: 1px solid var(--header-border-color);
}

h1+h2,h1+h3,h1+p,h2+h3,h2+p,h3+p,p+p{margin: 0;}
li p {margin-top: 0;}
.reference {
  margin-top: 0;
  margin-bottom: 4rem;
  text-align: right;
}

a{
  color: var(--link-font-color);
  text-decoration:underline;
}
a:visited{color:var(--link-visited-color)}
a:hover,a:focus{
  color: var(--main-bg-color);
  background-color: var(--link-font-color);
  text-decoration: none;
}
div{font-size: 1.6rem;}

/* code */
code {
  background-color: var(--codeblock-bg-color);
  margin: -0.8rem 0.4rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  color: white;
}
pre.astro-code {
  background-color: var(--codeblock-bg-color) !important;
  overflow: visible !important;
  border-radius: 0.8rem;
  padding: 1.6rem;
}
pre.astro-code code {
  background-color: transparent;
  line-height: 2.4rem;
  margin: 0;
  padding: 0;
}

#wrapper,.botom,#footer{
  max-width: 960px;
  margin: 0 auto 0;
  padding: 0 1.6rem;
}    
#site_name,#site_name:visited,#site_name:hover{
  font-size: min(3.2rem,6vw);
  color: white;
  text-decoration: none;
  background: transparent;
}
#site_name:focus{color:var(--charlotteace-theme);background:white;}
.site_icon,.site_icon:visited{
  margin-left: 1.6rem;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
.site_icon:hover{
  color: white;
  text-decoration: underline;
  background: transparent;
}
.site_icon:focus{color: var(--charlotteace-theme); text-decoration: none; background: white;}
#site_icon_button,.site_icon_button{display: none;}
#menu_group{display:none;}
#title{
  margin: 0;
  padding: 0;
  display: flex;  
  flex-direction: column;
  align-items: center;
}
#title ~ h1{
  text-align: center;
}
#pubdate{font-size: 1.4rem;}

#main{
  margin: 0;
}
.bottom{
  border-top: 0.2rem solid var(--main-font-color);
}
.other_article{border-bottom: 0.2rem solid var(--main-font-color);}


@media screen and (max-width: 588px) {  
  .site_icon{
    display: none;
  }
  /*!--メニューボタン周りの実装--*/  
  .site_icon_button{
    display: none;/*メニューボタン実装後に「block;」へ変更*/
  }
  #site_icon_button + .site_icon_button::after {
    content: "▼";
  }
  #site_icon_button:checked + .site_icon_button::after {
    content: "▲";
  }     
  
  .footer_contents{
    margin: 3.2rem 0;
    display: block;
    justify-content: left;
  }   
  .footer_contents li ul{
    margin-bottom: 3.2rem;
  }
}

/*tag関連、ブログ関連*/
.tag, .tag:visited {
  font-size: 1.4rem;
  margin-right: 0.4rem;
  padding: 0.4rem;
  float: left;
  color: var(--header-font-color);
  border-radius: 0.4rem;
  border: 1px solid var(--header-border-color);
  text-decoration: none;
  background-color: var(--header-bg-color);
}

.tag:focus {
  color: var(--header-font-color);
  background-color: var(--header-bg-color);
}
/* :hover,:any-hoverに非対応なブラウザ向けのフォールバック */
.tag:hover {
    color: var(--header-font-color);
    background-color: var(--header-border-color);
}
@media (hover:none){ 
  .tag:hover {
    color: var(--header-font-color);
    background-color: var(--header-bg-color);
  }
  .tag:active {
    color: var(--header-font-color);
    background-color: var(--header-border-color);
  }
}
@media (any-hover:hover){
  .tag:hover {
    color: var(--header-font-color);
    background-color: var(--header-border-color);
  }
}
.tag:focus-visible {
  color: var(--header-font-focus);
  background-color: var(--header-bg-focus);
}

/* 装飾関連 */
blockquote{
  --blockquote-bg-color: var(--light-gray);
}
@media (prefers-color-scheme: dark) {
  blockquote{
    --blockquote-bg-color: var(--dark-gray);
  }
}
blockquote{
  background-color: color-mix(in srgb, var(--blockquote-bg-color) 80%, transparent);
  margin-top: 4rem;
  padding: 1.6rem;
  border-radius: 0.8rem;
}
blockquote p{
  margin: 0;
}