@charset "utf-8";

/* webページ全体に適用 */

/* カードの定義 */
.card-group, .card-contents{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin: auto;
    max-width: 1020px;
}

.card {
    position: relative;
    height: stretch;
}

.card p {
    word-break: keep-all;
    overflow-wrap: break-word;
}

#name{
    border-bottom: none;
    margin: 0 0 5px;
    padding: 0;
}

.content-1 {
    margin: 5px 0 0;
    padding: 0;
}

.content-2 {
    margin: 0;
    padding: 0;
    padding-left: 7em;
    text-indent: -6em;
}

#photo img{
    width: 240px;
    height: 320px;
    margin: 10px;
    border: medium solid #000000;
}

#photo small {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-indent: 0;
    flex-grow: 1;
    text-shadow: 1px 1px 1px #ffffff, -1px -1px 1px #ffffff,
    -1px 1px 1px #ffffff,    1px -1px 1px #ffffff,
    1px 0 1px #ffffff, -1px 0 1px #ffffff,
    0 1px 1px #ffffff,    0 -1px 1px #ffffff;
}

#introduction {
    margin: 10px;
    width: calc(95vw - 330px);
    max-width: 660px;
    float: left;
}

#others {
    margin: 10px;
    width: 88vw;
    max-width: 930px;
    height: stretch;
}

@media (max-width: 864px){
    .card-group, .card-contents{
        justify-content: center;
    }
    #introduction {
        width: 90vw;
        max-width: inherit;
    }
    #others {
        margin: -5px 0 0;
        width: 90vw;
    }
}