@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;600&display=swap');

/* webページ全体に適用 */
body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: #ffffff;
}
.wrapper {
    margin: 0 auto 0 auto;
    width: 93%;
    max-width: 1280px;
}

h1 {
    color: #000000;
    font-size: 26px;
    border-bottom: 1px solid #393948;
    margin: 20px 0px 30px 0px;
    padding: 10px 10px 10px 20px;
}

p {
    text-indent: 1em;
}

#release, #update {
    text-align:right;
    padding: 0;
}
#release {margin: 1em 0 -2em;}
#update {margin: 2em 0 -4em;}

.quote {
    color: #545454;
    border-left: 5px solid #a9a9a9;
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding-left: 2em;
    font-style: italic;
}
.quote-body {
    text-indent: 0px;
}

.reference {
    margin-right: 0;
    text-align:right;
}

a:link {
    color: #3e2dff;
    text-decoration: none;
}
a:visited {
    color: #2c0fa1;
}
a:hover {
    color: #3e2dff;
    text-decoration: underline;
}
a:active {
    color: #3e2dff;
}


/* id: #nav に適用 */
header {
    margin: 0;
    padding: 10px;
    background-color: #1C4C8C;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
}

#header {
    background-color: #1C4C8C;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
}


#title {

    margin:  calc(50vw - min(46.5%,640px)) auto;
    font-size: 30px;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}




#mainlogo {
    font-size: min(30px, 4.8vw);
}
#mainlogo:link, #mainlogo:visited, #mainlogo:hover, #mainlogo:active {
    color: #ffffff;
    text-decoration: none;
}
/* id: footer に適用 */
#footnote {
    border-top: 1px solid #393948;
    margin-top: 30px;
    padding: 20px 50px;
    color: #393948;
}
#footnote p{
    padding-left: 4em;
    text-indent: -2em;
}

#footer {
    text-align: center;
    border-top: 1px solid #393948;
    margin-top: 30px;
    padding: 20px 0 20px 0;
    color: #393948;
}

/*ハンバーガーアイコン*/.c-header {
  align-items: center;
  background-color: #1C4C8C; /* カスタマイズしてください */
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc(50vw - min(46.5%,640px)); /* カスタマイズしてください */
  width: 100%;
}


.c-header__list {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0;
}

.c-header__list-item {
  list-style: none;
  text-decoration: none;
  margin-top: 10px;
}

.c-header__list-link {
  color: #fff; /* カスタマイズしてください */
  display: block;
  font-size: 20px;
  margin-left: 20px; /* カスタマイズしてくだdさい */
  text-decoration: none;
  padding: 0; /* カスタマイズしてください */
}

header a:link{
    color: #fff;
    text-decoration: none;
}
header a:visited {
    color: #fff;
    text-decoration: none;
}
header a:hover {
    color: #fff;
    text-decoration: underline;
}

.c-hamburger-menu {
  position: relative;
}

.c-hamburger-menu__input {
  display: none;
}

.c-hamburger-menu__bg {
  background-color: #000; /* カスタマイズしてください */
  cursor: pointer;
  display: none;
  height: 100vh;
  left: 0;
  opacity: 0.4; /* カスタマイズしてください */
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

#hamburger:checked ~ .c-hamburger-menu__bg {
  display: block;
}

.c-hamburger-menu__button {
  display: none;
}


.c-hamburger-menu__button-mark {
  background-color: #fff; /* カスタマイズしてください */
  display: block;
  height: 1px; /* カスタマイズしてください */
  transition: 0.3s; /* カスタマイズしてください */
  width: 20px; /* カスタマイズしてください */
}
