@charset "utf-8";

/* webページ全体に適用 */
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: #ffffff;
}
.wrapper {
    margin: 0 auto 0 auto;
    width: 1280px;
}
h1 {
    color: #393948;
    font-size: 26px;
    border-bottom: 1px solid #393948;
    margin: 20px 0px 30px 0px;
    padding: 10px 10px 10px 20px;
}

p {
    text-indent: 1em;
}

a:link {
    color: #1a0dab;
    text-decoration: none;
}
a:visited {
    color: #609;
}
a:hover {
    color: #1a0dab;
    text-decoration: underline;
}
a:active {
    color: #1a0dab;
}

/* カードの定義 */
.card-group, .card-contents{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card-a, .card-b, .card-c, .card-d, .card-e {
    position:relative;
    box-sizing: border-box;
    height: 135px;
    padding: 10px 10px;
    margin: 10px 10px;
    color: #000000;
    border: medium solid #000000;
    /*border-radius: 3px;*/
    transition: 0.3s;
    background-size: cover
}

.card-a {width: 760px;}
.card-b, .card-c {width: 500px;}
.card-d, .card-e {width: 240px;}

.card-b .content-3,
.card-d .content-3,
.card-e .content-3 {display:none;}

.thumbnail {
    position: absolute;
    z-index: -1;
    width: 240px;
    height: 135px;
    right: -3px;
    top: -3px;
    background-size: cover
}

.card-c .thumbnail,
.card-e .thumbnail {display: none;}

.card h3{
    margin: 0 0 -10px;
    text-shadow: 2px 2px 2px #ffffff, -2px -2px 2px #ffffff,
    -2px 2px 2px #ffffff,    2px -2px 2px #ffffff,
    2px 0 2px #ffffff, -2px    0 2px #ffffff,
    0 2px 2px #ffffff,    0 -2px 2px #ffffff;
    text-overflow: ellipsis;
}

.card p{
    text-indent: 0;
    flex-grow: 1;
    margin-bottom: -10px;
    text-shadow: 1px 1px 1px #ffffff, -1px -1px 1px #ffffff,
    -1px 1px 1px #ffffff,    1px -1px 1px #ffffff,
    1px 0 1px #ffffff, -1px 0 1px #ffffff,
    0 1px 1px #ffffff,    0 -1px 1px #ffffff;
}

.card a{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.logo {
    position: absolute;
    background-size: cover;
    width: 80px;
    height: 30px;
    margin-left: 10px;
    margin-top: -20px;
}

.note .logo {
    background-image: url(https://charlotteace.github.io/contents/images/note.png);
}
.card .note a{border-left: 10px solid #2eceb4;}
.card .amazon a{border-left: 10px solid #ff9900;}
.card .qiita a{border-left: 10px solid #55c500;}
.card .niconico a{
    border-left: 10px solid #55c500;
    border-image: linear-gradient(to bottom, #ff9abe, #86a8ff, #6eff62, #fcff55) 1;
}
.card .twitter a{border-left: 10px solid #1da1f2;}
.card .melonbooks a{border-left: 10px solid #18bd67;}


.card img{
    position: absolute;
    margin-left: 10px;
    margin-top: -25px;
}

.card .text {
    margin-top: 0px;
    height: 110px;
}

.content-1 {
    margin: 0;
    padding: 0 0 0 10px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.content-2 {
    margin: 2px 0 0 0;
    padding: 10px 0 10px 10px;
    height: 30px;
}

.content-3 {
    margin: 0;
    margin-top: -50px;
    padding: 10px 0 10px 120px;
    width: 360px;
    height: 60px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-b .content-3,
.card-d .content-3,
.card-e .content-3 {
    display:none;
}






/* id: #nav に適用 */
#header {
    margin: 0;
    padding: 10px 0;
    background-color: #1C4C8C;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
}

#title {
    width: 1280px;
    margin:  auto auto;
    padding-left: 30px;
    font-size: 30px;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav{
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navlink {
    padding-left: 30px;
    padding-right: 30px;
}
.navlink:link {
    color: #ffffff;
    text-decoration: none;
}
.navlink:visited {
    color: #bed5f5;
}
.navlink:hover {
    color: #ffffff
    text-decoration: underline;
}
.navlink:active {
    color: #ffffff;
}

#mainlogo {
    font-size: 30px;
}
#mainlogo:link, #mainlogo:visited, #mainlogo:hover, #mainlogo:active {
    color: #ffffff;
    text-decoration: none;
}
/* id: footer に適用 */
#footer {
    text-align: center;
    border-top: 1px solid #393948;
    margin-top: 30px;
    padding: 20px 0 20px 0;
    color: #393948;
}

